/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
$primary: #0e0e0e;
$secondary: #d0d0d0;
$white-text: #fff;
$accent: #c1ad6c;
$body-text: #888888;
$bg: #181818;
$border: #393939;
