/*--------------------------------------------------------------
## ComingSoon_Page_Style
----------------------------------------------------------------*/
.coming-content{
    max-width: 70%;
    .timmer{
        display: flex;
        justify-content: space-between;
        span{
            font-size: 100px;
            line-height: 100px;
            color: $white-text;
        }
        li{
            margin-right: 125px;
        }
    }
    .com-text{
        text-align: left;
    }
}
@media screen and (max-width: 991px) {
    .coming-content{
        max-width: 100%;}
    .timmer{
        span{
            font-size: 32px !important;
            line-height: 32px !important;
        }
        li{
            margin-right: 50px !important;
            h5{
               font-size: 16px; 
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .timmer{
        span{
            font-size: 26px !important;
            line-height: 26px !important;
        }
        li{
            margin-right: 20px !important;
            h5{
               font-size: 16px; 
            }
        }
    }
}
@media screen and (max-width: 460px) {
    .timmer{
        .jus-center{
            flex-direction: column;
        }
        span{
            font-size: 26px !important;
            line-height: 26px !important;
        }
    }
}
@media screen and (max-width: 491px) {
    .com-text{
        p{
            display: none;
        }
    }
}